{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {% spaceless %}
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            {% for detail in value %}
            <tr>
                <td>{{ detail.id }}</td>
                <td>{{ detail.product.name }}</td>
                <td>{{ detail.quantity }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endspaceless %}
{% endblock %}
